[Unit]
Description=sing-box Web Controller
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/opt/sing-box-web
Environment=SB_WEB_HOST=0.0.0.0
Environment=SB_WEB_PORT=8088
Environment=SB_WEB_TOKEN=changeme
Environment=SB_START=/opt/sing-box-web/sb-start.sh
Environment=SB_STOP=/opt/sing-box-web/sb-stop.sh
Environment=SB_SERVICE=sing-box
ExecStart=/usr/bin/python3 /opt/sing-box-web/sb-web.py
Restart=always

[Install]
WantedBy=multi-user.target